# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
coverage.xml
/.cov

# setuptools
/build
/dist
/*.egg-info

# Sphinx documentation
doc/_build

# PyCharm project
/.idea/workspace.xml
/.idea/shelf/

# Outputs from (unit)tests
/tests/CIServices/template.out
